@use "./functions" as *;

$body-font-color: #fff;
$body-font-size: px-to-rem(11);
$body-line-spacing: px-to-rem(25);
$font-primary: "League Spartan", sans-serif;
$font-secondary: "Antonio", sans-serif;
$h1-font-size: px-to-rem(40);
$h1-font-color: #fff;

$header-background: #070724;
$header-color: #fff;
$header-divider: #979797;

$body-background: #070724;

$earth-color: #545bfe;
$earth-secondary: #6d2ed5;

$jupiter-color: #ecad7a;
$jupiter-secondary: #d83a34;

$mars-color: #ff6a45;
$mars-secondary: #d14c32;

$mercury-color: #def4fc;
$mercury-secondary: #419ebb;

$neptune-color: #497efa;
$neptune-secondary: #2d68f0;

$saturn-color: #fccb6b;
$saturn-secondary: #cd5120;

$uranus-color: #65f0d5;
$uranus-secondary: #1ec1a2;

$venus-color: #f7cc7f;
$venus-secondary: #eda249;

$white-opacity: rgba(255, 255, 255, 0.5);
